section {
	width: 1000px;
	height: 600px;
	border: 1px solid #555;
	margin: 100px auto;
	position: relative;
}

section article {
	width: 100px;
	height: 100px;
	background: aqua;
	position: absolute;
	top: 0;
	left: 0;
}
